LLM/Onboarding App/How to work onboarding course/How to work course content/GetOnboardingFile_final_ai_project_presentation_structure.json
{
  "name": "GetOnboardingFile-final-ai-project-presentation-structure",
  "nodes": [
    {
      "parameters": {
        "path": "final-ai-project-presentation-structure",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fb67c63a-e723-404a-8562-968d899f9c85",
      "name": "Webhook",
      "webhookId": "17fa3e69-8a0b-4ec5-91d7-53beab1a7b9a"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/14U1NSZnBeyIDZX5fU8wXXC7nkX3nGyWNPNiQLYBc6DI/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "14fdd7cf-4e0e-49aa-bc45-48706c9abce0",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "6857c0fd-8ed4-4082-878b-53ec01f120e9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62479dea-de8e-40b4-8db7-75774c4c441a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "4fnQgxDciGc2Fb8C",
  "tags": [
    {
      "createdAt": "2025-03-25T08:55:00.132Z",
      "updatedAt": "2025-03-25T08:55:00.132Z",
      "id": "LZfkwp4S1EWjoMPT",
      "name": "How To Work"
    },
    {
      "createdAt": "2025-03-03T09:07:39.636Z",
      "updatedAt": "2025-03-03T09:07:39.636Z",
      "id": "WSdrUAjxY2vUjAbn",
      "name": "Day1"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}