LLM/Onboarding App/How to work onboarding course/How to work course content/GetOnboardingFilemastering_the_role_context_task_rct_framework_in_prompt_engineering.json
{
  "name": "GetOnboardingFilemastering-the-role-context-task-rct-framework-in-prompt-engineering",
  "nodes": [
    {
      "parameters": {
        "path": "mastering-the-role-context-task-rct-framework-in-prompt-engineering",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "57357547-362b-4280-9c92-8462f618b2aa",
      "name": "Webhook",
      "webhookId": "dc2971cd-483c-4abd-b42f-625b9661abe0"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/12u3A7JTGDtn6gHwgI_xef19kdvu3gMkq6mLw6BXpb6I/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "cd0eb261-f20e-4e63-90a6-642d21abad81",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "8c946d7b-74e8-4599-80e7-9d5711920ff0",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da9f8c40-c37f-411e-9543-b876d3b47f6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "SIuaYeLIQTrQRyg7",
  "tags": [
    {
      "createdAt": "2025-03-25T08:55:00.132Z",
      "updatedAt": "2025-03-25T08:55:00.132Z",
      "id": "LZfkwp4S1EWjoMPT",
      "name": "How To Work"
    },
    {
      "createdAt": "2025-03-03T09:07:39.636Z",
      "updatedAt": "2025-03-03T09:07:39.636Z",
      "id": "WSdrUAjxY2vUjAbn",
      "name": "Day1"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}