LLM/Onboarding App/How to work onboarding course/How to work course content/GetOnboardingFile_creating_an_ai_project.json
{
  "name": "GetOnboardingFile-creating-an-ai-project",
  "nodes": [
    {
      "parameters": {
        "path": "creating-an-ai-project",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e188d842-21e2-423a-983b-5b2efe39b855",
      "name": "Webhook",
      "webhookId": "606fefbf-5bee-42c3-9ecc-65ca7022f326"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/14Qw7QVtF7-aXd-CF5j4aNC6zGVE4ZKAyFQB1mA9Wzbg/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "fc4daf2f-3f31-4f2c-876f-723251d26cab",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "f65cc394-d1fc-486b-89e9-4f2da0374765",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb0abe33-673c-40d1-bc9c-06a9e80ff34f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "GkHBMfDOhxmTZQsp",
  "tags": [
    {
      "createdAt": "2025-03-25T08:55:00.132Z",
      "updatedAt": "2025-03-25T08:55:00.132Z",
      "id": "LZfkwp4S1EWjoMPT",
      "name": "How To Work"
    },
    {
      "createdAt": "2025-03-03T09:07:39.636Z",
      "updatedAt": "2025-03-03T09:07:39.636Z",
      "id": "WSdrUAjxY2vUjAbn",
      "name": "Day1"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}