LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_What_is_Prompt_Engineering_.json
{
  "name": "GetOnboardingFile What is Prompt Engineering?",
  "nodes": [
    {
      "parameters": {
        "path": "3b220bee-17c7-44a7-ada4-5bbc3b1f6bda",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4b2934e8-0ce4-4279-b5e3-2ae4571a4573",
      "name": "Webhook",
      "webhookId": "3b220bee-17c7-44a7-ada4-5bbc3b1f6bda"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1hXBV5r8nrAe6uaUv7uz86wJj9psjFy8ftfZhe-jkf9w/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "63633091-e60c-4671-bc4b-cec5d1773ed3",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "81ab3a33-5bb1-49eb-8753-a319ab371b07",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01b8b289-51d9-412b-a134-590c38570af3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "AFbBkKpKaxR5DGMN",
  "tags": [
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-04T10:03:47.483Z",
      "updatedAt": "2025-03-04T10:03:47.483Z",
      "id": "gNLCceNqj4DelBGY",
      "name": "Day3"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}