LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Understanding_Webhooks.json
{
  "name": "GetOnboardingFile Understanding Webhooks",
  "nodes": [
    {
      "parameters": {
        "path": "2f434695-09a9-41ff-9426-878c9408d0d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b8a91bb1-4167-49e9-a7e2-8ac72d064ab8",
      "name": "Webhook",
      "webhookId": "2f434695-09a9-41ff-9426-878c9408d0d0"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1QXDZvfN-egQUixkRP7GFf0zx3OWmBZhdmVokv44uLgA/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "e2044055-5708-45d4-aaa4-e36460a54a49",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "e44f3722-ab8a-42a8-ad66-9a2f59f9d95c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00cb104f-ab76-44c6-ab49-5413f0f5e768",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "EYcu6ivEXekFN4dU",
  "tags": [
    {
      "createdAt": "2025-03-04T10:12:31.735Z",
      "updatedAt": "2025-03-04T10:12:31.735Z",
      "id": "HTfjYUz6vEtXNRrq",
      "name": "Day5"
    },
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}