LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_AI_Learning.json
{
  "name": "GetOnboardingFile AI Learning",
  "nodes": [
    {
      "parameters": {
        "path": "a000cc94-90d6-493f-80f9-9ed3c2f51b67",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6f0568ae-e13e-492b-934c-8291ee67bdd3",
      "name": "Webhook",
      "webhookId": "a000cc94-90d6-493f-80f9-9ed3c2f51b67"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1BgdoHl4YDqsx6DVup1GELA_nEQlGPnQ4FEBYcOzVXvE/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "6337a20b-0b8d-4608-9543-845fc52f481f",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "8207be42-24d9-41c4-a82b-45236bb4b091",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9724b4d1-bb27-4d48-8422-afc68f420cfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "6UTKkjH2RSSwSQRz",
  "tags": [
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:07:39.636Z",
      "updatedAt": "2025-03-03T09:07:39.636Z",
      "id": "WSdrUAjxY2vUjAbn",
      "name": "Day1"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}