LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Designing_Efficient_Workflows.json
{
  "name": "GetOnboardingFile Designing Efficient Workflows",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/DesigningEfficientWorkflows",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4efc8f76-a2bb-4a1b-a51b-bca9e5e723df",
      "name": "Webhook",
      "webhookId": "ce49d929-336c-42e2-9889-9e492c062c68"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1E4X6xEWR00FZq4JtsDHcwzPtc9lh6hH1WvxzlXq8bTs/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "23473730-6333-4f6e-be95-40bd29f90fcf",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "cbba746b-7416-482a-8e97-a4f173c7872c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca90ac32-26c6-4f56-9ad4-6103e6344dd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "XFyZumZTUgkzmkiU",
  "tags": [
    {
      "createdAt": "2025-03-03T14:31:08.720Z",
      "updatedAt": "2025-03-03T14:31:08.720Z",
      "id": "HELbjAXco7AikW1p",
      "name": "Day 2"
    },
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}