LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Leveraging_External_Tools_with_n8n.json
{
  "name": "GetOnboardingFile Leveraging External Tools with n8n",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/LeveragingExternalToolsWithN8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5f1a9d42-5672-4fb1-ad3d-e67ffbd16050",
      "name": "Webhook",
      "webhookId": "edba95a3-1f90-49d9-a365-bcd51119f60b"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1bPDuObCZ--ACjGkxIbz4qayfTSZzxq8Ki0DY4dlqR4g/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "5c28581d-0d79-4408-b9d6-829f56e0a2eb",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "9f7fb3fc-ae51-4c22-9994-f625fc762aae",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25eac85f-ad42-43a7-827c-0b2b1a94a6e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "YeiC8i1fBbyZaIel",
  "tags": [
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-04T14:57:07.293Z",
      "updatedAt": "2025-03-04T14:57:07.293Z",
      "id": "iRLKq9rzctZyiAfs",
      "name": "Day 4"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}