LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Integration_of_Monitoring_Tools.json
{
  "name": "GetOnboardingFile Integration of Monitoring Tools",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/IntegrationOfMonitoringTools",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b42f20fc-3bb2-4215-8884-048b859724a8",
      "name": "Webhook",
      "webhookId": "a23596d6-6659-491e-8c8e-00e3a1ebc88d"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Z-d2eo0IWnYqzBN_qLgQj-C0eusLuUmduJpfc-sMkbw/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "847d794a-0308-45e6-bf0c-ea3488a62032",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "0d7fb2ae-7d30-43c1-9f54-820689e15f43",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "337f2906-5eb2-471d-9266-70b607dbcd25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "YXvKUbPhlroUVGMf",
  "tags": [
    {
      "createdAt": "2025-03-03T14:31:08.720Z",
      "updatedAt": "2025-03-03T14:31:08.720Z",
      "id": "HELbjAXco7AikW1p",
      "name": "Day 2"
    },
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}