LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Implementing_Workflow_Agents.json
{
  "name": "GetOnboardingFile Implementing Workflow Agents",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/ImplementingWorkflowAgents",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "18b126a5-fcd5-4e14-83e8-3043c88dba40",
      "name": "Webhook",
      "webhookId": "d6aa78f8-6f32-4dc5-8bbb-adf2cd722de2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1M_ITUB8cR6W7Da1-zB0v9A0WGtuKt8N_XsyDBBru5S8/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "8244582b-2aee-4156-b3e6-b46d1e262b1b",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "f68f5bb8-b3fb-4ba2-b5f4-b8bd491b755b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abc70676-7f7a-4fd3-8277-bb32cbb306b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "8RpHdWKkrSHM2hTU",
  "tags": [
    {
      "createdAt": "2025-03-04T10:12:31.735Z",
      "updatedAt": "2025-03-04T10:12:31.735Z",
      "id": "HTfjYUz6vEtXNRrq",
      "name": "Day5"
    },
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}