LLM/Onboarding App/AI onboarding course/AI course content/GetOnboardingFile_Scaling_Automation_Solutions.json
{
  "name": "GetOnboardingFile Scaling Automation Solutions",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/ScalingAutomationSolutions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "49ea3652-56e8-4255-8c7e-1f24fece6a18",
      "name": "Webhook",
      "webhookId": "a156f761-eedf-4a41-8a1d-13257da891be"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1FKpQxCRcLxgu2jKaA2-z1IHE1YuH4tlFOT-j_lZ1bXg/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "0f548e78-b706-4ddc-9f3e-130449ed573e",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u4aaDpAzm6YKZV9W",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "a74dee46-8d2c-4825-9b44-3052b5339c98",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d07ca52-1357-48c6-9917-3b7a417e2809",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce7fa653659e581ce25e9a76408cecc1db830bd4c16d1cddb638823b7bca87a"
  },
  "id": "OI9PqTkpFLSnlQ62",
  "tags": [
    {
      "createdAt": "2025-03-04T10:12:31.735Z",
      "updatedAt": "2025-03-04T10:12:31.735Z",
      "id": "HTfjYUz6vEtXNRrq",
      "name": "Day5"
    },
    {
      "createdAt": "2025-03-04T15:18:45.103Z",
      "updatedAt": "2025-03-04T15:18:45.103Z",
      "id": "Lv0IHVqEPpRYfyh7",
      "name": "AI Onboarding"
    },
    {
      "createdAt": "2025-03-03T09:06:36.037Z",
      "updatedAt": "2025-03-03T09:06:36.037Z",
      "id": "qWJOcf4ehs6iONwh",
      "name": "Files"
    },
    {
      "createdAt": "2025-02-28T12:15:59.970Z",
      "updatedAt": "2025-02-28T12:15:59.970Z",
      "id": "sdWf5s6naE3QVMN8",
      "name": "Onboarding"
    }
  ]
}